[Desktop Entry]
Type=Application
Name=KOS Todo
Name[zh_CN]=KOS 待办
Comment=Organize tasks and due dates
Comment[zh_CN]=管理任务和截止日期
Exec=kos-todo
Icon=view-task
Categories=Office;ProjectManagement;Qt;
Keywords=todo;task;list;reminder;
Keywords[zh_CN]=待办;任务;清单;提醒;
StartupNotify=true
