[Desktop Entry]
Type=Application
Name=KOS Weather
Name[zh_CN]=KOS 天气
Comment=View current conditions and forecasts
Comment[zh_CN]=查看当前天气和预报
Exec=kos-weather
Icon=weather-clear
Categories=Utility;Qt;
Keywords=weather;forecast;temperature;location;
Keywords[zh_CN]=天气;预报;温度;地点;
StartupNotify=true
